/*background class*/
.bg { 
    background: url(/images/) no-repeat center center fixed; 

    
 }

 /* * {
    box-sizing: border-box;
  }
  html {
    font-family: sans-serif;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
  }
  section {
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: mandatory;
    text-align: center;
    position: relative;
  } */

.section1 {
    background-color: #DDD0C8;
    height: 100vh;
    display: flex;
    overflow: auto;
}
.section2 {
    background-color: #323232;
    height: 100vh;
    display: flex;
    overflow: auto;

}

.section3 {
  background-color: #DDD0C8;
  height: 100vh;
  display: flex;
  overflow: auto;
}

.title {
    padding: 0px;
    margin-top: 0px;
    font-size: 4cm;
  }


.header {
  padding: 20px;
  margin-left: 50px;
  font-size: 2cm;
}

.text {
  padding: 0px;
  margin-bottom: 1px;
  margin-left: 20px;
  margin-top: 200px;

  font-size: 1cm;
}

.cards {
    position: relative;
    width: auto;
    border: 1px transparent #73AD21;
}

.card1 {
    position: relative; 
}

.card2 {
    position: relative; 
}

/* .contact {
    position: relative;
    top: 30vh;
    left: 0vh;
    width: auto;
    border: 1px transparent #73AD21; 
    
} */
/*cards*/
img {
  width: auto;
  max-height: 500px;
}

.servicetitle {
    font-size: 1.5cm;
    color: #DDD0C8;
    padding: 50px;
    margin-left: 0px;
    display: flex;
    justify-content: center;   
}

.cardtexth {
    font-size: 1cm;
}

.cardtext {
    font-size:0.5cm;
}

/*cube*/
@keyframes turn {
    from {
      transform: rotate3d(0, 0, 0, 0);
    }
    to {
      transform: rotate3d(1, 1, 0, 360deg);
    }
  }
  .cube {
    width: 10px;
    height: 10px;
    transform-style: preserve-3d;
    animation: turn 7s linear infinite;
    margin: 50px;
    position: relative;
    top: 0vh;
    left: -40vh;
  }
  .face {
    width: 100px;
    height: 100px;
    background: black;
    border: 2px solid white;
    position: absolute;
    opacity: 0.75;
    transform: translateZ(50px);
  }
  .front {
    transform: translateZ(50px);
  }
  .back {
    transform: translateZ(-50px) rotateY(180deg);
  }
  .left {
    transform: translateX(-50px) rotateY(-90deg);
  }
  .right {
    transform: translateX(50px) rotateY(90deg);
  }
  .top {
    transform: translateY(-50px) rotateX(90deg);
  }
  .bottom {
    transform: translateY(50px) rotateX(-90deg);
  }



/*Navbar*/
.nav {
    position: sticky;
    top: 0vh;
    left: 0vh;
}

.foot {
  position: relative;
  top: 60vh;
  left: 0vh;
}





/*TESTS*/
