/*background class*/
.bg { 
    background: url(/images/galaxy-night-view.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
 }

 /* keyframes definition for WebKit browsers the animation */

@-webkit-keyframes travel {
    from { left: 0;     }
    to   { left: 100%; }
  }
  
  @-webkit-keyframes bounce {
    from, to  {
      bottom: 0;
      -webkit-animation-timing-function: ease-out;
    }
    50% {
      bottom: 100%;
      -webkit-animation-timing-function: ease-in;
    }
  }
  
  @-webkit-keyframes spin {
    from {                                     }
    to   { -webkit-transform: rotateZ(360deg); }
  }
  
  /* keyframes definition for other browsers animation*/
  
  @keyframes travel {
    from { left: 0;     }
    to   { left: 100%; }
  }
  
  @keyframes bounce {
    from, to  {
      bottom: 0;
      animation-timing-function: ease-out;
    }
    50% {
      bottom: 100%;
      animation-timing-function: ease-in;
    }
  }
  
  @keyframes spin {
    from {
      -moz-transform: rotate(0);
      -o-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
    }
    to {
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  /* styles for the stage and animated elements */
  
  #stage {
    position: relative;
    margin: 0em auto;
    width: 100%;
    height: 2500px;
    border: 0px solid #666;
    background: transparent;
  }
  
  #traveler {
    position: absolute;
    width: 20px;
    height: 100%;
  
    -webkit-animation-name: travel;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 6.0s;
  
    animation-name: travel;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 6.0s;
  }
  
  #bouncer {
    position: absolute;
   
    background: -webkit-radial-gradient(60% 40%, cube, rgba(255,255,255,0.8), red 50%) red;
    background: -moz-radial-gradient(60% 40%, cube, rgba(255,255,255,0.8), red 50%) red;
    background: -o-radial-gradient(60% 40%, cube, rgba(255,255,255,0.8), red 50%) red;
    background: -ms-radial-gradient(60% 40%, cube, rgba(255,255,255,0.8), red 50%) red;
    background: radial-gradient(60% 40%, cube, rgba(255,255,255,0.8), red 50%) red;
  
    -webkit-animation-name: bounce, spin;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 4.2s;
  
    animation-name: bounce, spin;
    animation-iteration-count: infinite;
    animation-duration: 4.2s;
  }

/*cube*/

  @keyframes turn {
    from {
      transform: rotate3d(0, 0, 0, 0);
    }
    to {
      transform: rotate3d(1, 1, 0, 360deg);
    }
  }

  @-webkit-keyframes travel {
    from { left: 0;     }
    to   { left: 100%; }
  }
  
  @-webkit-keyframes bounce {
    from, to  {
      bottom: 0;
      -webkit-animation-timing-function: ease-out;
    }
    50% {
      bottom: 100%;
      -webkit-animation-timing-function: ease-in;
    }
  }
  
  @-webkit-keyframes spin {
    from {                                     }
    to   { -webkit-transform: rotateZ(360deg); }
  }
  
  /* keyframes definition for other browsers */
  
  @keyframes travel {
    from { left: 0;     }
    to   { left: 100%; }
  }
  
  @keyframes bounce {
    from, to  {
      bottom: 0;
      animation-timing-function: ease-out;
    }
    50% {
      bottom: 100%;
      animation-timing-function: ease-in;
    }
  }
  
  @keyframes spin {
    from {
      -moz-transform: rotate(0);
      -o-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
    }
    to {
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .cube {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: turn 5s linear infinite;
    margin: 50px;
    
    
  }
  .face {
    width: 400px;
    height: 400px;
    background: black;
    border: 2px solid white;
    position: absolute;
    opacity: 0.50;
    transform: translateZ(200px);
  }
  .front {
    transform: translateZ(200px);
  }
  .back {
    transform: translateZ(-200px) rotateY(180deg);
  }
  .left {
    transform: translateX(-200px) rotateY(-90deg);
  }
  .right {
    transform: translateX(200px) rotateY(90deg);
  }
  .top {
    transform: translateY(-200px) rotateX(90deg);
  }
  .bottom {
    transform: translateY(200px) rotateX(-90deg);
  }

  /*cards*/
  .services {
    position: relative;
    top: 400px;
    left: 0px;
    width: auto;
  }

  .box-shadow-hover:hover {
    box-shadow: 0 2px 5px 0 rgb(224, 13, 13), 0 2px 10px 0 rgb(184, 49, 49);
  }
  
  .pointer {
    cursor: pointer;
  }
  
  img {
    width: auto;
    max-height: 500px;
  }

  /*contact*/
  .contact {
    position: relative;
    top: 850px;
    left: 0px;
    width: auto;
  }

  /*footer*/
  .footer {
    position: relative;
    top: 890px;
    left: 0px;
    width: auto;
  }